/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1rem));
    gap: 2rem;
    justify-content: center;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1rem));
    gap: 2rem;
    justify-content: center;
  }
}
